<form action="/" method="POST" focus="password">
  <div class=" d-flex align-items-center">
    <div class="container d-flex flex-column text-center justify-content-center mb-3">
      <h1 class="mt-5">Account Login</h1>
      <div class="d-flex flex-column align-items-center ">
        <input class="m-1 mt-5" type="text" placeholder="Email" name="email" value="{{account.email}}">
        <input class="m-1 mt-5" type="password" placeholder="Password" name="password" vlaue="">

      </div>
      <span class="message"> {{message}} </span>
      <div>
        <button class="btn m-1 mt-5 button">Sign in</button>
      </div>
    </div>
  </div>
</form>